<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>%Title%</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <header>
        <nav>
            <ul class="nav__content">
                <li><a class="about" href="#"><button>About</button></a></li>
            </ul>
        </nav>
        <div class="title"><h1>Franziskaneum News</h1></div>
        
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    <div id="content">
        <p>Test Test Test
        <p> test
    </div>
    <div id="footer">
        test test
    </div>
</body>
</html>